.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background: black;
  display: flex;
  align-items: center;
  padding: 0 16px;
  z-index: 1000;
}

.centerGroup {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
  justify-content: center;
}

@media (min-width: 600px) {
  .header {
    padding: 0 32px;
  }
  
  .centerGroup {
    gap: 32px;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.menus {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .menus {
    gap: 10px;
  }
}

.navItem {
  border: none;
  font-weight: 500;
  cursor: pointer;
  background: none;
  white-space: nowrap;
}

.actions {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-left: 20px;
}

@media (max-width: 600px) {
  .actions {
    margin-right: 5vw;
    gap: 12px;
  }
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 28px;
}

@media (max-width: 600px) {
  .icon {
    font-size: 24px;
  }
}
